<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/small-business.css" rel="stylesheet">
    <!-- include fontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


</head>

<body>

<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-nav" href="index.php">
                <h3>{{ title }}</h3>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about"><i class="fa fa-dashboard"></i> Start</a>
                </li>
                <li><a href="#services"><i class="fa fa-wrench"></i> Settings</a>
                </li>
                <li><a href="#contact"><i class="fa fa-unlock-alt"></i> Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <div class="navbar-fader">

    </div>
    <!-- /.container -->
</nav>

<div id="page-wrapper">
    <div class="page-header">
    </div>
    {% block main %}
    {{ body }}
    {% endblock %}
</div>
<!-- /#page-wrapper -->


<footer>
    <hr>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <p>&copy; ben 2014</p>
        </div>
    </div>
</footer>

</div>

<!-- JavaScript -->
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.js"></script>

<!-- Page Specific Plugins -->
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<!--
<script src="/js/tablesorter/jquery.tablesorter.js"></script>
<script src="/js/tablesorter/tables.js"></script>
-->
<!-- tablesorter plugin -->
<!-- tablesorter widget file - loaded after the plugin -->
{% block scripts %}
{% endblock %}
</body>
</html>
