{% extends "index.html" %}
{% block main %}
{% block before %}
{% endblock %}
<div class=>
    <div class="col-xs-8 col-xs-offset-2 row">
        <div class="col-xs-2">
            <img class="img-circle" width="80%" src="/img/summoner_icons/17.png">
        </div>
        <div class="col-md-4">
            <h2>ben trades</h2>
            <div class="col-sm1-offset-0">
                <h4>30</h4>
            </div>
        </div>
    </div>
</div>
<div class="row col-xs-8 col-xs-offset-2">
    <div class="row">
    <table class="table table-bordered table-hover">
    <tr>
        <th>Cpicture</th>
        <th>inform</th>
        <th>stats</th>
    </tr>
    <tr>
        <td><img src="/img/champion_icons/BTNCaitlyn.png"></td>
        <td>blaa</td>
        <td>12-0-4 </td>
    </tr>
        <tr>
            <td><img src="/img/champion_icons/BTNCorki.png"></td>
            <td>blaa</td>
            <td>12-0-4 </td>
        </tr>
        <tr>
            <td><img src="/img/champion_icons/BTNHecarim.png"></td>
            <td>blaa</td>
            <td>12-0-4 </td>
        </tr>
        <tr>
            <td><img src="/img/champion_icons/BTNGraves.png"></td>
            <td>blaa</td>
            <td>12-0-4 </td>
        </tr>
        <tr>
            <td><img src="/img/champion_icons/BTNGangplank.png"></td>
            <td>blaa</td>
            <td>12-0-4 </td>
        </tr>
        <tr>
            <td><img src="/img/champion_icons/BTNJanna.png"></td>
            <td>blaa</td>
            <td>12-0-4 </td>
        </tr>
        <tr>
            <td><img src="/img/champion_icons/BTNJax.png"></td>
            <td>blaa</td>
            <td>12-0-4 </td>
        </tr>

    <tr>

    </tr>

    </table>
    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}